.account-container {
   background-color: #f8f9fa; /* Light background color for overall container */
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
   .top-section {
      background-color: #26292c; /* Dark background color */
      padding: 20px;
      border-radius: 8px;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      gap: 20px;

      .profile-settings {
         flex: 1;
         color: #fff; /* White text color for contrast */
      }

      .role-section {
         flex: 1;
         color: #fff; /* White text color for contrast */
         span {
            color: rgb(255, 173, 115);
         }
      }
   }

   h2 {
      font-size: 24px;
      margin-bottom: 20px;
      color: white;
   }

   .profile-section {
      display: flex;
      gap: 30px;

      .profile-picture {
         flex: 1;

         img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
            border: 4px solid #fff; /* White border for profile image */
            box-shadow: 0 0 10px rgba(209, 209, 209, 0.1); /* Light shadow for depth */
         }

         .image-wrapper {
            margin-top: 20px;

            p {
               margin-top: 10px;
               font-size: 16px;
               color: white;
            }
         }
      }

      .profile-info {
         flex: 2;

         p {
            margin-bottom: 10px;
            font-size: 16px;
            color: #666;

            strong {
               font-weight: 600;
               color: #333;
            }
         }
      }
   }

   .general-info-section {
      margin-top: 30px;
      padding-right: 25px;
      label {
         display: block;
         margin-bottom: 20px;

         p {
            font-size: 16px;
            font-weight: 600;
            color: #333;
            margin-bottom: 8px;
         }

         input {
            width: 100%;
            padding: 9px;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 16px;
            color: #333;
            transition: border-color 0.3s ease;

            &:focus {
               outline: none;
               border-color: #4caf50; /* Green border on focus */
            }
         }
      }
   }
}
