.createPost {
   border-radius: 10px;
   margin: auto;
   font-family: Arial, sans-serif;
   margin-top: 20px;
}

.post-wrapper {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.post-inputs p {
   margin: 10px 0 5px;
   color: #555;
}

.post-inputs input[type="text"],
.post-inputs input[type="file"] {
   width: calc(100% - 22px); /* Adjusted to account for padding and border */
   padding: 10px;
   margin-top: 5px;
   border: 1px solid #ddd;
   border-radius: 5px;
   box-sizing: border-box; /* Ensures padding and border are included in the width */
   width: 100%;
}

.upload-icon {
   display: flex;
   align-items: center;
   gap: 10px;
   cursor: pointer;
   color: green;
   font-weight: bold;
}
.ck {
   height: 100%;
   width: 100%;
   resize: none;
}

.post-buttons .categories {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.post-buttons .categories label {
   color: #555;
   font-weight: bold;
}

.post-buttons .categories select {
   padding: 10px;
   border: 1px solid #ddd;
   border-radius: 5px;
}

.upload {
   display: none;
}
