// dashbaord
.wrapper {
   padding: 0 20px;
   margin-top: 20px;
}
.home {
   color: black;
   height: 100vh;
   .dashboard {
      width: 90%;
      margin: 0 auto;
      margin-top: 20px;
      .dashboard-panels {
         min-height: 600px;
         display: flex;
         .left-panel {
            border-radius: 6px;
            min-width: 250px;
            background-color: #26292c;
            color: white;
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
            .db-name {
               font-size: 16px;
               padding: 20px 10px;
               color: rgb(140, 125, 125);
            }
            .links {
               .user {
                  border-bottom: 3px solid rgba(255, 255, 255, 0.329);
                  padding: 10px 10px !important;
                  margin: 0 !important;
               }
               display: flex;
               flex-direction: column;
               margin: 0 5px;
               .user-details {
                  margin-left: 5px;
                  display: flex;
                  align-items: center;
                  gap: 15px;
                  font-size: 16px;
                  padding: 20px 10px;
                  color: rgb(236, 229, 229);
                  &:hover {
                     background-color: #1a1c1d;
                     cursor: pointer;
                     transform: scale(1.05);
                  }
                  &:hover p {
                     color: rgb(39, 151, 226);
                  }
                  img {
                     border-radius: 50%;
                  }
               }
            }
         }
         .right-panel {
            // border: 2px solid blue;
            width: 80%;
            background-color: whitesmoke;
            border-radius: 6px;
         }
      }
   }
}
