
.home {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 65px;
}
.wrapper {
   max-width: 600px;
   padding: 40px;
   border-radius: 8px;
   text-align: center;
   border: 1px solid var(--darkModeColorText);
   position: relative;
}
.quizz-mayas {
   color: var(--touchColor);
}
.einstein img {
   height: 200px;
   width: 200px;
   position: absolute;
   right: -75px;
   bottom: -68px;
   border-radius: 50%;
   object-fit: cover;
   &:hover {
      filter: blur(3px);
      cursor: pointer;
   }
}
h1 {
   font-size: 3rem;
   margin-bottom: 10px;
   margin: 0 0 30px 0;
}

p {
   margin-bottom: 20px;
   text-align: center;
   line-height: 25px;
}

.home-info {
   margin-top: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 15px;
   margin-top: 50px;
}
