.howtoplay {
   max-width: 1000px;
   margin: 30px auto;
   padding: 20px;
   background-color: var(--darkModeColorBG);
   border-radius: 15px;
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
   color: var(--darkModeColorText);
   text-align: center;
   font-family: "Arial", sans-serif;

   h2 {
      color: gold;
      margin-bottom: 20px;
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 55px;
   }
   .playbtn {
      border: 2px solid rgba(255, 255, 255, 0.137);
      margin: 25px 0;
   }
   .howtoplay-card {
      background-color: #2a2a2a;
      border-radius: 15px;
      border: 2px solid rgba(255, 255, 255, 0.137);

      padding: 20px;
   }

   .howtoplay-list {
      list-style-type: none;
      padding: 0;
      font-size: 16px;
      line-height: 1.6;
      text-align: left;

      li {
         margin-bottom: 15px;
         background: var(--lightModeColorBG);
         padding: 10px;
         border-radius: 10px;
         display: flex;
         align-items: flex-start;
         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
         border: 2px solid rgba(255, 255, 255, 0.137);

         .icon {
            font-size: 24px;
            margin-right: 10px;
            color: gold;
         }

         b {
            color: gold;
         }

         ul {
            list-style-type: disc;
            margin-left: 25px;
            margin-top: 5px;

            .points {
               color: gold;
               font-weight: bold;
            }

            .reward {
               color: gold;
               font-weight: bold;
            }
         }
      }
   }
}
