.playgame {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 70vh;
   font-family: "Arial, sans-serif";
   color: #ecf0f1;
   padding: 20px;

   .playgame-wrapper {
      position: relative;
      border: 2px solid rgba(255, 255, 255, 0.137);
      margin-top: 90px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 1200px;
      min-height: 500px;
      background-color: #242424 !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
         rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      padding: 20px;
      box-sizing: border-box;
   }
   // frozen screen
   .playgame-game-frozenwrapper {
      position: relative;
      border: 2px solid rgba(255, 255, 255, 0.137);
      margin-top: 90px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 1200px;
      min-height: 500px;
      background-color: #242424 !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
         rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      padding: 20px;
      box-sizing: border-box;
   }
   .icycle {
      position: absolute;
      top: -13px;
      z-index: 50;
      height: 72px;
      width: 1000px;
   }
   .header {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .category-wrapper {
         border: 2px solid rgba(255, 255, 255, 0.137);
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         gap: 8px;
         font-size: 16px;
         background-color: var(--darkModeColorBG);
         color: var(--darkModeColorText);
         padding: 12px;
         box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
         transition: background-color 0.3s, transform 0.3s ease-out;
         min-width: 120px;
         border-radius: 6px;
         b {
            font-size: 20px;
            color: gold;
         }
      }
      .lives {
         border-radius: 6px;
         background-color: var(--darkModeColorBG);
         border: 2px solid rgba(255, 255, 255, 0.137);
         position: absolute;
         bottom: 20px;
         left: 20px;
         display: flex;
         gap: 14px;
         padding: 10px;
         align-items: center;
         justify-content: center;
         .life {
            display: flex;
            flex-direction: row;
         }
      }

      .powerups {
         border: 2px solid rgba(255, 255, 255, 0.137);
         z-index: 9999;
         display: flex;
         background-color: var(--darkModeColorBG);
         color: var(--darkModeColorText);
         padding: 12px;
         box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
         transition: background-color 0.3s, transform 0.3s ease-out;
         flex-direction: column;
         align-items: flex-start;
         justify-content: flex-start;
         min-width: 120px;
         border-radius: 6px;
         gap: 15px;

         .power-up {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            position: relative;
            padding: 4px;
            border-radius: 6px;
            width: 100%;
            &:hover {
               cursor: pointer;
               padding: 4px;
               border-radius: 6px;
               background-color: rgb(227, 70, 8);
            }
            p {
               margin: 0;
            }
         }
         .pu-1 {
            &:hover::before {
               content: "Freezes Timer for 10 seconds";
               position: absolute;
               left: 90px;
               top: 5px;
               font-size: 14px;
               color: white;
               border-radius: 10px;
               background-color: black;
               padding: 6px;
               width: 190px;
               text-align: center;
            }
         }
         .pu-2 {
            &:hover::before {
               content: "Skips to next question";
               position: absolute;
               left: 90px;
               top: 5px;
               font-size: 14px;
               color: white;
               border-radius: 10px;
               background-color: black;
               padding: 6px;
               width: 190px;
               text-align: center;
            }
         }
         .pu-3 {
            &:hover::before {
               content: "Remove two answers";
               position: absolute;
               left: 90px;
               top: 5px;
               font-size: 14px;
               color: white;
               border-radius: 10px;
               background-color: black;
               padding: 6px;
               width: 190px;
               text-align: center;
            }
         }

         img {
            height: 40px;
            width: 40px;
            object-fit: cover;
            border-radius: 50%;
            &:hover {
               cursor: pointer;
            }
         }
      }
   }
   .main-question-div {
      display: flex;
      flex-direction: column;
   }
   .diff {
      font-size: 14px;
      color: white;
   }
   .question-text {
      margin: 5px 0px 20px 0;
      width: 100%;
      min-width: 300px;
      text-align: left;
      color: white;
   }
   .questionAndFlag {
      display: flex;
   }
   .playagainbtn {
      background-color: var(--darkModeColorBG);
      color: var(--darkModeColorText);
      border: 2px solid rgba(255, 255, 255, 0.137);
   }
   .flag {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      margin-bottom: 20px;

      img {
         object-fit: contain;
         box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
            rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      }
   }
   .timer {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3rem;
      margin-bottom: 20px;
      color: var(--touchColor);
      border-radius: 5px;
      font-weight: bold;
   }

   .loading-timer {
      height: 12px;
      background-color: rgb(237, 130, 37);
      border-radius: 10px;
   }
   .frozen {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3rem;
      margin-bottom: 20px;
      border-radius: 5px;
      font-weight: bold;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
         rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
   }

   .question-section {
      background: linear-gradient(#433f3f7a, #185ef217);
      margin-top: -100px;
      border: 2px solid rgba(255, 255, 255, 0.137);
      max-width: 450px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .question {
         font-size: 1.4rem;
         font-weight: bold;
         margin-bottom: 80px;
         color: white;
         height: 30px;
      }

      .buttons {
         display: grid;
         grid-template-columns: repeat(2, 1fr); /* Create 2 equal columns */
         grid-template-rows: repeat(2, auto); /* Create rows to fit content */
         gap: 20px;
         margin-top: 50px;
         width: 100%;
      }

      .buttons button {
         min-width: 160px;
         width: 100%;
         padding: 10px 20px;
         font-size: 1rem;
         cursor: pointer;
         background-color: var(--darkModeColorBG);
         color: var(--darkModeColorText);
         border: 1px solid rgba(255, 255, 255, 0.162);
         border-radius: 5px;
         box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
            rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
         transition: background-color 0.3s, transform 0.3s;
      }

      .buttons button:hover {
         background-color: var(--touchColor);
         color: black;
         transform: scale(1.05);
      }
   }
}
