.playgame {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 70vh;
   font-family: "Arial, sans-serif";
   color: #ecf0f1;
   padding: 20px;

   .playgame-wrapper {
      margin-top: 90px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 1200px;
      min-height: 500px;
      background: linear-gradient(135deg, #173944, #2c1d2bcb);
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
         rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      padding: 20px;
      box-sizing: border-box;
   }
   // frozen screen
   .playgame-game-frozenwrapper {
      margin-top: 90px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 1200px;
      min-height: 500px;
      background: linear-gradient(135deg, #3b62c3, #b2ebf2, #80deea, #3b62c3);
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
         rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      padding: 20px;
      box-sizing: border-box;
   }

   .header {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .category-wrapper {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         gap: 8px;
         font-size: 16px;
         background-color: var(--darkModeColorBG);
         color: var(--darkModeColorText);
         padding: 12px;
         box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
         transition: background-color 0.3s, transform 0.3s ease-out;
         min-width: 120px;
         border-radius: 6px;
         b {
            font-size: 20px;
            color: gold;
         }
      }
      .lives {
         display: flex;
         gap: 10px;
         padding: 10px;
         align-items: center;
         justify-content: center;
         .life {
            display: flex;
            flex-direction: row;
         }
      }

      .powerups {
         display: flex;
         background-color: var(--darkModeColorBG);
         color: var(--darkModeColorText);
         padding: 12px;
         box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
         transition: background-color 0.3s, transform 0.3s ease-out;
         flex-direction: column;
         align-items: flex-start;
         justify-content: flex-start;
         min-width: 120px;
         border-radius: 6px;
         gap: 15px;
         .power-up {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            position: relative;
            p {
               margin: 0;
            }
         }
         .pu-1 {
            &:hover::before {
               content: "Freezes Timer for 10 seconds";
               position: absolute;
               left: 90px;
               top: 5px;
               font-size: 14px;
               color: white;
               border-radius: 10px;
               background-color: black;
               padding: 6px;
               width: 190px;
               text-align: center;
            }
         }
         .pu-2 {
            &:hover::before {
               content: "Skips to next question";
               position: absolute;
               left: 90px;
               top: 5px;
               font-size: 14px;
               color: white;
               border-radius: 10px;
               background-color: black;
               padding: 6px;
               width: 190px;
               text-align: center;
            }
         }
         .pu-3 {
            &:hover::before {
               content: "Remove two answers";
               position: absolute;
               left: 90px;
               top: 5px;
               font-size: 14px;
               color: white;
               border-radius: 10px;
               background-color: black;
               padding: 6px;
               width: 190px;
               text-align: center;
            }
         }

         img {
            height: 40px;
            width: 40px;
            object-fit: cover;
            border-radius: 50%;
            &:hover {
               cursor: pointer;
            }
         }
      }
   }

   .timer {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3rem;
      margin-bottom: 20px;
      color: var(--touchColor);
      border-radius: 5px;
      font-weight: bold;
   }
   .frozen {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3rem;
      margin-bottom: 20px;
      color: rgb(79, 158, 255);
      border-radius: 5px;
      font-weight: bold;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
         rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
   }

   .question-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .question {
         font-size: 1.8rem;
         font-weight: bold;
         margin-bottom: 120px;
         color: white;
         height: 30px;
      }

      .buttons {
         display: grid;
         grid-template-columns: 1fr 1fr;
         gap: 20px;

         button {
            min-width: 160px;
            width: 100%;
            padding: 10px 20px;
            font-size: 1rem;
            cursor: pointer;
            background-color: var(--darkModeColorBG);
            color: var(--darkModeColorText);
            border: 1px solid rgba(255, 255, 255, 0.162);
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
               rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
            transition: background-color 0.3s, transform 0.3s;

            &:hover {
               background-color: var(--touchColor);
               color: black;
               transform: scale(1.05);
            }
         }
      }
   }

   .play-again-btn {
      margin-top: 20px;

      button {
         background-color: var(--darkModeColorBG);
         color: var(--darkModeColorText);
         padding: 10px 20px;
         font-size: 1rem;
         border-radius: 5px;
         cursor: pointer;
         transition: background-color 0.3s, transform 0.3s;
         box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
            rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
         margin-top: 50px;

         &:hover {
            background-color: var(--darkModeColorBG);
            color: var(--darkModeColorText);
            transform: scale(1.05);
         }
      }
   }
}
