:root {
   --mainColor: rgba(255, 255, 0, 0.058);
   --secondColor: rgba(255, 255, 0, 0.058);
   --thirdColor: rgba(255, 255, 0, 0.058);
   --touchColor: gold;

   --fontColor: rgb(254, 254, 252);

   --defaultPadding: 6px;
   --defaultMargin: 3px;

   --hoverColor: rgba(255, 255, 0, 0.058);
   --activeColor: rgba(255, 255, 0, 0.058);

   --darkModeColorBG: #ffffff;
   --darkModeColorText: #ffffff;

   -boxshadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

* {
   margin: 0;
   padding: 0;
   font-family: arial;
   body {
      background-color: var(--darkModeColorBG);
   }
   // buttons
   .deleteBtn {
      background-color: #ff1f29;
      color: var(--fontColor);
   }
   .submitBtn {
      background-color: green;
      margin: 0;
   }
   .disabled {
      opacity: 0.6;
      cursor: not-allowed !important;
      background-color: #7d7f80 !important;
      color: var(--fontColor !important);
      &:hover {
         border: 1px solid red !important;
      }
   }
   li {
      list-style: none;
   }
   button {
      border: 2px solid rgba(255, 255, 255, 0.137);
      background-color: #26292c;
      padding: 9px;
      font-size: 14px;
      color: white;
      border-radius: 3px;
      width: 140px;
      border: none;
      box-shadow: var(--boxshadow);
      &:hover {
         cursor: pointer;
         background-color: white;
         color: black;
         border: 1px solid black;
      }
      &:active {
         transform: translateY(3px);
         box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 2px 0px;
      }
   }
}

h1,
h2,
p,
span,
div {
   color: var(--darkModeColorText);
}

.navbar {
   width: 100%;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   background-color: var(--darkModeColorBG);
   color: var(--darkModeColorText);
}

.navbarwrapper {
   width: 80%;
   height: 90px;
   background-color: var(--darkModeColorBG);
   color: var(--darkModeColorText);
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0 auto;

   .links {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
   }
   .links a {
      margin: 0 6px;
      text-decoration: none;
      padding: 6px;
      background-color: var(--darkModeColorBG);
      color: var(--darkModeColorText);

      &:hover {
         background-color: var(--darkModeColorText);
         color: var(--darkModeColorBG);
         padding: 6px;
         border-radius: 3px;
      }
   }
   .logo img {
      height: 60px;
      width: 60px;
   }
}
// login register
.authwrapper {
   display: flex;
   align-items: center;
   justify-content: center;
}

.auth {
   margin-top: 65px;
   width: 300px;
   padding: 20px;
   border: 1px solid #ccc;
   border-radius: 5px;
   background-color: #f9f9f9;
   object-fit: cover;
   text-align: center;
   font-size: 16px;
   h1 {
      font-size: 30px;
      color: black;
   }

   .error {
      color: red;
      font-weight: bold;
      font-size: 13px;
   }
   .register-response {
      color: green;
      font-weight: bold;
      font-size: 13px;
   }
   .alreadyacc {
      color: #0e0e0e;
      margin-top: 10px;
      margin-bottom: 20px;
      a {
         font-weight: bold;
      }
   }

   .form {
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
         width: 100%;
         max-width: 250px;
         padding: 10px;
         margin-bottom: 15px;
         border-radius: 5px;
         border: 1px solid #ccc;
      }

      span {
         font-size: 14px;
         margin-top: 10px;
         display: block;

         p {
            color: red;
            margin-bottom: 10px;
         }

         a {
            color: #007bff;
            text-decoration: none;

            &:hover {
               text-decoration: underline;
            }
         }
      }
   }
}

// page
.notfound {
   background-color: var(--darkModeColorBG);
   color: black;
   text-align: center;
   flex-direction: column;
   padding: 20px;
}

footer {
   position: absolute;
   width: 100%;
   height: 90px;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   background-color: var(--darkModeColorBG);
   color: var(--darkModeColorText);
   gap: 10px;
   margin-top: 200px;
   img {
      width: 60px;
      height: 60px;
      object-fit: cover;
   }
}
